main{
    padding: 0.2%;
    min-height: 2rem 0;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend{
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.one, form div{
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .8rem;
}

form label.one input, form label.one select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(red, green, blue, alpha);
}

fieldset table{
    border-collapse: collapse;
    width: 40%;
    height: 5%;
    text-align: left;
    color: #000;
    margin:0 .1rem;
}

form label.two{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
}
form input.resetBtn{
    border: none;
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
}

form label.one input:required{
    border-left: red solid 6px;
}
form label.one input:required:valid{
    border-left:green solid 6px;
}

footer{
    background: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
.appleId{
    color: #000;
}